spring:
  application:
    name: product

server:
  port: 8081

---
# Local 프로필
spring:
  config:
    activate:
      on-profile: local
  datasource:
    url: jdbc:h2:mem:product
    username: sa
    password:
    driver-class-name: org.h2.Driver
  h2:
    console:
      enabled: true
      path: /h2-console
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true

---
# Dev 프로필
spring:
  config:
    activate:
      on-profile: dev
  datasource:
    url: jdbc:h2:mem:product
    username: sa
    password:
    driver-class-name: org.h2.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
