spring:
  application:
    name: inventory
  kafka:
    bootstrap-servers: localhost:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
    consumer:
      group-id: inventory-consumer
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: "*"
        spring.json.type.mapping: "com.jje.payment.domain.payment.event.PaymentApprovedEvent:com.jje.inventory.domain.inventory.event.PaymentApprovedEventMessage,com.jje.order.domain.order.event.OrderCancelledEvent:com.jje.inventory.domain.inventory.event.OrderCancelledEventMessage"

server:
  port: 8086

---
# Local 프로필
spring:
  config:
    activate:
      on-profile: local
  datasource:
    url: jdbc:h2:mem:inventory
    username: sa
    password:
    driver-class-name: org.h2.Driver
  h2:
    console:
      enabled: true
      path: /h2-console
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true
